.img{
    width: 100%;
    height: 80%;
}
h1{
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    /*background-color: hsla(50,50,10);*/
    padding: 30px;
}
.img3{
    width: 20%;
    height: 50%;
    border-radius: 20px;
    padding: 10px;
    float: left;
}
.p1{
    color: aliceblue;
    text-align: left;
    margin-top: 10px;
    padding: 0px 10px 10px;
    font-size: 1.10em;
    text-align: justify;
    
}
.p2{
    color: antiquewhite;
    border: dashed orangered;
    padding: 10px;
    margin-left: 320px;
    font-size:none;
    font-style: oblique;
    
}
.p3{
    color: aliceblue;
    font-size: 1.10em;
    text-align: justify;
    
}
 ul
{

   background: rgba(133, 193, 73, 0.872);
      list-style: none;
    display: flex;
    justify-content: flex-start;
    font-weight: bolder;
    font-style: italic;
    font-size: larger
}



ul li a
{
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    color: #fff;
    
}
ul li.hover{
    background-color: yellow;
}

.content
{
    display: inline;
}
.img4{
    width: 15%;
    float: right;
    border-radius: 10px 40%;
    padding: 40px 10px;

}
.p4{
    color: aliceblue;
    margin-top: 40px;
    text-align: left;
    padding: 50px 10px 1px 10px;
    text-align: justify;
    font-size: 1.10em;
    margin-bottom: 30px;
}
.p5{
    color: antiquewhite;
    border: dashed orangered;
    padding: 10px;
    margin-left: 10px;
    margin-right: 250px;
    font-style: oblique;
    text-align: left;
}
.p51{
    color: aliceblue;
    padding-top: -100px;
    margin-top: -20px;
}
*{
    margin: 0;
    padding: 0;
}
h2{
    color:orange;
}
.h2{
    color: cornsilk;
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
}
.h21{
    color: cornsilk;
    padding: 10px;
    margin-top: 0;
    padding-top: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    float: right;
}
a:hover{
    color: rgb(255, 0, 0);
}
.name{
    color: #fff;
    
}
.mobile{
    color: #fff;
}
/*.formbtn{
    background-color: orangered;
    border-radius: 10px;
    padding: 15px 5px;
    margin: 20px;
    font-style: oblique;
    font-weight: bold ;
    font-family:cursive;

}*/
.p6{
    color: aliceblue;
    margin-top: 10px;
    text-align: right;
    padding: 0px 10px 0px 10px;
    text-align: justify;
    font-size: 1.05em;
    margin-bottom: 0px;
    margin-left: 5px;
}
.img5{
    width: 16% ;
    margin-top: 50px;
    padding-left: 10px;
    border-radius: 50px 1px 70px;
    margin-bottom: 0px;
    padding-bottom:0px;
    float: left;
}
.h22{
    color: cornsilk;
    padding: 10px;
    margin-top: 20px;
    padding-top: 15px;
    padding-left: 17px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    float: left;
}
.p7{
    color: aliceblue;
    margin-top: 60px;
    text-align: right;
    padding: 40px 10px 10px 10px;
    text-align: justify;
    font-size: 1.10em;
    margin-bottom: 0px;
    margin-left: 255px;
}
.p8{
    color: antiquewhite;
    border: dashed orangered;
    padding: 10px;
    margin-left: 260px;
    margin-right: 10px;
    font-style: oblique;
    text-align: left;
}
.p9{
    color: aliceblue;
    margin-top: 10px;
    text-align: right;
    padding: 0px 10px 10px 10px;
    text-align: justify;
    font-size: 1.10em;
    margin-bottom: 40px;
    margin-left: 255px;
}
.container{
    background-color:none;

}
.contact-box{
    background: #fff;
    display:flex;
    margin: 40px 40px 60px;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #e37b05;
    color: #fff;
}
h1{
    margin-bottom: 10px;

}
.container p{
    margin-bottom: 40px;

}
.pform{
    color: #fff;
    padding-left: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;

}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;

}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin: 6px;
    display: block;
    color: #e37b05;
}
button{
    width: 100px;
    background: #e96011;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(250, 172, 2, 0.368);
}
.contact-left h3{
    color: #e37b05;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 1.5em;
}
.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 1.5em;
}
tr td:first-child{
    padding-right: 20px;

}
tr td{
    padding-top: 20px;
    
}
table{
    color: #fff;
}
.box{
    background-color: blue;
    display: block;
    padding-left: 20px;
    position: relative;
    box-shadow: 0 1px 4px rgba(0,0,0,.9);
    margin: 20% 40% 20% ;
    border-radius: 20px ;
}