*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
ul{
    display: flex;
    padding: 20px;
    
}
li{
    list-style: none;
    padding: 40px;
    margin: 0px 20px 0px 20px;
}
a{
    color: rgb(243, 238, 238);
    text-decoration: none;
}
a:hover{
    color: hotpink;
}
.nav{
    background-color: black;
}
img{
    width: 100%;
    background-blend-mode: color-burn;
    background-color: rgba(0, 0, 0,.3);
    
}
p{
    color: aliceblue;
    margin: 20px;
    overflow: hidden;
    
}
.ishu{
    color: blue;
}
.dish{
    width: 20%;
    float: left;
    padding-top: 20px;
    padding-left: 10px;
    border-radius: 500px 0px 70px 200px;
}
.p1{
    margin-left: 20%;
    padding-left: 50px;
    font-size: 2em;
    font-style: italic;
}
hr{
    
}
.u{
    color: aqua;
}
