*{
  margin: 0;
  padding: 0;  
}
body{
    background-color: black;
    
}
ul{
    display: flex;
    

    

}
li{
    padding: 20px 30px;
    list-style: none;
    
}
li a{
    text-decoration: none;
    color: grey;
    
    
}
.profile{
    float: left;
    width: 70px;
    padding-left: 20px;
    
    object-fit: contain;
    
    
}
nav{
    margin: 0px 0px;
    padding: 40px 20px;
    width: 100%;

    display: flex;
    
}
a:hover{
    color: white;
}
.logos{
    padding: 20px 30px;
    

}
.logos img{
    width: 1%;
    aspect-ratio: 2/2;
    padding: 5px;
    object-fit: contain;
    background-color: aliceblue;
    border-radius: 50%;
    
}
.logos a:hover{
    color: aqua;
}
.line{
    padding: 0.1px;
    height: 0px;
    background-color: rgb(129, 125, 125);
    border: none;
    align-content: center;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    
}
.head{
    color: azure;
    font-size: 10em;
    text-align: center;
    font-weight: bold;
    
}
p{
    color: rgb(82, 71, 71);
}
h3{
    color: aliceblue;
}
.container{
    background: none;
    
}
.left{
    background-color: aliceblue;
    margin-right: 58%;
    padding-left: 10%;
}
.left-img{
    
}
.left-img img{
    width: 800px;
}
.right{
    background-color: aqua;
    margin-right: 80%;
    float: right;
}
.container .right{
    margin-left: 50%;
}
.right-img{
    
}
.right-img img{
    width: 250px;
    display: block;
    float: left;
    
}
