body{
    margin : 0;
    padding: 0;
    background-color: black;
    
}
.landing{
    background-image: url(./bg.jpg);
    height: 80vh;
    background-color: rgba(0,0,0,.3);
    background-blend-mode: color-dodge;
    background-size: cover;
     

}
.logo{
    align-items: flex-start;
    float: left;
    width: 20vh;
    margin-left: 2em;
    

}
.menu{
    display: flex;
    margin-left:70em;
    flex: 5fr;
    justify-content: flex-end;  
    
}
.lang{
    display: flex;
    margin-top: 4em;
    color: white;
    background-color: transparent;
    padding: 20px;
}
select{
    padding: 10px;
    background: transparent;
    border-color: aliceblue;
    color: white;

}
.btn{
    margin-left: 2em;
    margin-right: 3em;
}
a{
    text-decoration: none;
    background-color: #e50914;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2em;

}
button{
    padding: 10px 25px;
    border-radius: 5px;
    border-style: none;
    color: white;
    background-color: #e50914;
}
h1{
    color: white;
    font-size: 4.5em;
    padding-top: 100px;
    text-align: center;
    margin: 70px 0px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
h2{
    color: white;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    color: white;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.e-mail{
    margin-top: 40px;
    margin-left: 40%;
}
input{
    margin: 20px 0px;
    padding: 10px 30px;
    border-style: none;
    font-size: 1.5em
    
;
}
label{
    
    color: yellow;
}
hr{
    height: .5em;
    background-color: rgb(61, 59, 59);
    margin-top: 2em;
    border-color: black;
}
